################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Finbuckle/config
/.vs
/Finbuckle.ObjectOptions.AspNetCore3.1/bin/Debug/netcoreapp3.1
/Finbuckle.ObjectOptions.AspNetCore3.1/obj
